﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row-fluid">
        <h2 align="center">Items</h2>
    </div>
    <div class="row-fluid">
        <div class="col-xs-6 col-sm-5 col-md-4 col-lg-3">
            <gps-filter-form Table="ItemsTable" class="form">
                <gps-field type="text" column="Name">
                    <style root="form-group" field="form-control" label="control-label"></style>
                </gps-field>
                <gps-field type="dropdown" column="Type" add-any="true">
                    <style root="form-group" field="form-control" label="control-label"></style>
                    <url url="@Url.Action("ItemTypes")" data="data.rows" value="row.id">row.name</url>
                </gps-field>
                <gps-field type="dropdown" column="Rarity" add-any="true">
                    <style root="form-group" field="form-control" label="control-label"></style>
                    <url url="@Url.Action("ItemRarities")" data="data.rows" value="row.id">row.name + " (" + row.color + ")"</url>
                </gps-field>
                <gps-button link-to-form="true" class="btn btn-default">Apply filters</gps-button>
            </gps-filter-form>
        </div>
        <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
            <gps-grid class="table table-striped table-bordered table-hover" name="ItemsTable" url="@Url.Action("Table")">
                <column type="plain" name="Id" sort="none" visible="false">row.id</column>
                <column type="plain" name="Name" sort="asc">row.name</column>
                <column type="plain" name="Type" sort="none">row.itemType.name</column>
                <column type="plain" name="Rarity" sort="none">$("<span></span>").css("color", row.itemRarity.color).append(row.itemRarity.name)</column>
                <column type="plain" name="Bonus" getter="aggregate">
                    <array>row.itemBonuses</array>
                    <aggregator>prev ? (prev + ", " + next) : next</aggregator>
                    <elem-converter>elem.value + " " + elem.stat</elem-converter>
                </column>
                <column type="plain" name="Creeps" getter="aggregate">
                    <array>row.creeps</array>
                    <aggregator>prev ? (prev + ", " + next) : next</aggregator>
                    <elem-converter>elem.name + " (lvl " + elem.level + ")"</elem-converter>
                </column>
            </gps-grid>
            <gps-pager name="ItemsPager" table="ItemsTable" page-limit="5"></gps-pager>
        </div>
    </div>
</div>

@section scripts
{
    <script data-main="@Url.Content("~/Scripts/Site/Items/ItemsTable.js")" src="@Url.Content("~/Scripts/require.js")"></script>
}