﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:vasja.filippov94@outlook.com">vasja.filippov94@outlook.com</a><br />
</address>