﻿@{
    ViewBag.Title = "Gaias Drop List";
}

<div class="jumbotron">
    <h1>Gaias Retaliation</h1>
    <p class="lead">Gaias Retaliation is Warcraft 3 ORPG map. It is one of HiveWorkshops director cut maps and definitely best Warcraft RPG map.</p>
    <p><a href="http://www.hiveworkshop.com/forums/gaias-retaliation-orpg-649/" class="btn btn-primary btn-lg">Official forum &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Items table</h2>
        <p>Table with all items. Also supports filtering.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Items")">Items table &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add item</h2>
        <p>For to add item in table.</p>
        <p><a class="btn btn-default" href="@Url.Action("OldIndex", "RegisterItem")">Add item &raquo;</a></p>
    </div>
</div>